/* ----------LAYOUT----------- */

.icons{
    float: right;
    margin-top: 30px;
  }
  
  .bell{
    color: white;
    height: 100px;
    font-size: xx-large;
    width: 50px;
  
  }
  .users{
    color: white;
    font-size: xx-large;
  }
  
  .conten{
    height: 100vh;
    background: url("/img/bg.png") ;  
  }

 .event{
     background-color: #96283a;
     height: 100px;

}

.event p{
    text-align: center;
    color: rgb(151, 150, 150);
    padding-top: 40px;
    
}
.block{
    background-color: transparent;
    height: 50px;
    width: 550px;
    border: 2px solid #b7384e;
    border-radius: 30px;
    display: flex;
    margin-top: 10px;
    margin: auto;
    
}

.block ul ol{
    display: inline;
      
}
.block ul{
    margin-top: 10px;
}


/* ----------------------ADMINISTRATION .blade.php------------------------------------------------ */
h1{
    text-align: center;
}
.the_block{
    background-color: white;
    height: 450px;
    width: 800px;
    border-radius: 30px;
    box-shadow: rgb(218, 216, 216) 5px 5px 30px;
    margin: auto;

}

.gestion p{
    color:#b7384e ;
    text-align: center;
    margin-top: 25px;
    padding-right: 5px;
}

.jours_concerné{
    display: flex;
    
}

.jours_concerné p{
    
    margin-left:15px;
}

.nbr input{
    margin-left: 250px;
    border: none;
    background-color: rgb(218, 216, 216);
    width: 300px;
    border-radius:30px;
    text-align:center;
    margin-top:25px;
}
.Horaires{
    margin-left: 200px;
    margin-top: 25px;
}
.fin{
    margin-top: 50px;
    margin-left: 350px;
}
.debut{
    margin-top: 45px;
    margin-left: 350px; 
}
.valid input{
    height: 30px; 
    width: 180px;
    border-radius: 30px;
    border: none;
    margin-left: 80px; 
    text-align: center; 
    font-size: 1.5em; 
    color: white ;
    margin-top: 50px;
    background: linear-gradient(180deg, rgb(21, 11, 114), rgb(87, 121, 231));
    font-style: oblique; 
}



    



/* ----------------------------profil.blade.php----------------------------- */

.first_block{
    background-color: white;
    height: 300px;
    width: 800px;
    border-radius: 30px;
    box-shadow: rgb(218, 216, 216) 5px 5px 30px;
    margin: auto;
}


.first_block p{
    color:#b7384e ;
    text-align: center;
    margin-top: 25px;
    padding-right: 5px;
}

.second_block{
    background-color: white;
    height: 300px;
    width: 800px;
    border-radius: 30px;
    box-shadow: rgb(218, 216, 216) 5px 5px 30px;
    margin: auto;
    
}


.second_block p{
    color:#b7384e ;
    text-align: center;
    margin-top: 25px;
    padding-right: 5px;
}




